# EDA

The first thing to do in any project is to understand the data.

This data correspondes to historical data for bike sharing in London a dataset that is available in Kaggle ([Link](https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset)).

A couple of things are learned from the actual information regarding the dataset:s
- *timestamp* - timestamp field for grouping the data
- *cnt* - the count of a new bike shares
- *t1* - real temperature in C
- *t2* - temperature in C "feels like"
- *hum* - humidity in percentage
- *wind_speed* - wind speed in km/h
- *weather_code* - category of the weather
- *is_holiday* - boolean field - 1 holiday / 0 non holiday
- *is_weekend* - boolean field - 1 if the day is weekend
- *season* - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.

- *weathe_code* category description:
1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 2 = scattered clouds / few clouds 3 = Broken clouds 4 = Cloudy 7 = Rain/ light Rain shower/ Light rain 10 = rain with thunderstorm 26 = snowfall 94 = Freezing Fog

We will now load the data and look at the actual variables present in the dataset.

### Libraries

In [ ]:
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

file_path = "london_merged.csv"

df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "hmavrodiev/london-bike-sharing-dataset",
    file_path
)

print(df.head())

C:\Users\Tiago\AppData\Local\Temp\ipykernel_1876\2621158803.py:6: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/hmavrodiev/london-bike-sharing-dataset?dataset_version_number=1&file_name=london_merged.csv...

100%|██████████| 0.99M/0.99M [00:00<00:00, 1.71MB/s]

             timestamp  cnt   t1   t2    hum  wind_speed  weather_code  \
0  2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0
1  2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0
2  2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0
3  2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0
4  2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0

   is_holiday  is_weekend  season
0         0.0         1.0     3.0
1         0.0         1.0     3.0
2         0.0         1.0     3.0
3         0.0         1.0     3.0
4         0.0         1.0     3.0

In [ ]:
# Get some basic info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [ ]:
# Convert the object to a datetime object
df['timestamp'] = pd.to_datetime(df['timestamp'])

NameError: name 'pd' is not defined

In [35]:
# Check for null values
print(f"There are {df.isnull().values.sum()} null values")

There are 0 null values

In [39]:
df.groupby('is_holiday').count()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_weekend,season
is_holiday,,,,,,,,,
0.0,17030,17030,17030,17030,17030,17030,17030,17030,17030
1.0,384,384,384,384,384,384,384,384,384

In [24]:
import matplotlib.pyplot as plt

# Filter data between two dates
df_filter = df.loc[df['timestamp'] == '2015-01-14']
df_filter

Empty DataFrame
Columns: [timestamp, cnt, t1, t2, hum, wind_speed, weather_code, is_holiday, is_weekend, season]
Index: []